.isign-details-block {
      display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}
.isign-signers-block {
      display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;    
  background-color: yellow; 
}
#pdf-frame {
    height: 1200px;
}
.check-code .signing-code {
    font-size: 100px;
}
.action-bar__notification {
    display: none;
}
.sequence-result-listing {
    display: none;
}
