.isign-signing-show > .row {
    display: flex;
    flex-wrap: wrap;
}

.isign-signing-show .isign-documentlist-block h2 {
    display: none;
}

.isign-signing-show .btn.btn-success {
    background-color: #FF5F00;
    border-color: #FF5F00;
}

.isign-signing-show .isign-sign-pane {
    order: 1;
}

.isign-signing-show .isign-documentlist-block {
    order: 2;
}

.isign-signing-show .isign-details-block {
    order: 3;
}

.isign-signing-show .isign-signers-block {
    order: 4;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #009EDE;
}

.nav-tabs > li > a {
    color: #555555;
}
